<?php

namespace `substitute(substitute(substitute(expand("%:p"), '\v(.*\/\l+)((\/\u\w+)+)\/\u\w+.php$', '\2', ''), '\/', '\\\', 'g'), '^\\\', '', '')`;

/**
* ${1:`Filename('', 'myClass')`}.
*/
class ${2:`Filename('', 'myClass')`}
{${3}
}
