<?php

namespace `substitute(substitute(substitute(expand("%:p"), '\v(.*\/\l+)((\/\u\w+)+)\/\u\w+.php$', '\2', ''), '\/', '\\\', 'g'), '^\\\', '', '')`;

use NetTeam\Bank\CreditAnalysisBundle\Model\Shared\Enum;

/**
 * ${1:`Filename('', 'myClass')`}
 *
 * @author ${2:`g:snips_author`}
 */
class ${3:`Filename('', 'myClass')`} extends Enum
{
    ${4}
}
