<?php

namespace `substitute(substitute(substitute(expand("%:p"), '\v(.*\/\l+)((\/\u\w+)+)\/\u\w+.php$', '\2', ''), '\/', '\\\', 'g'), '^\\\', '', '')`;

/**
 * ${1:`Filename('', 'myInterface')`}
 *
 * @author ${2:`g:snips_author`}
 */
interface ${3:`Filename('', 'myInterface')`}
{
    ${4}
}
